{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1 class="page-header">Info</h1>
    <p><strong>Antlers Ads</strong> - Yet another open source adserver.</p>
    <p><strong>Author</strong> - Daniel Iwaniec.</p>
    <p><strong>License</strong> - MIT.</p>
{% endblock %}
