/.idea/*
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/node_modules
web/app_dev.php
coverage/
app/SymfonyRequirements.php
app/check.php
web/assets/app.all.css
web/assets/app.all.js
web/assets/app.min.css
web/assets/app.min.js
web/images/
